{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <style>
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }

    .form-signin .checkbox {
      font-weight: 400;
    }

    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }

    .form-signin .form-control:focus {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .h3 {
      text-align: center;
    }
  </style>
  <form method="post" action="{% url 'Auth:registration'  request.resolver_match.kwargs.user_type %}" class="form-signin">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Regisztráció</h1>
    {{ form|crispy }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Regisztráció</button>
  </form>

{% endblock %}
