{% extends 'base.html' %}


{% block content %}
  <table>
    <tr>
      <th>Sorszám</th>
      <th>Státusz</th>
      <th>Kiszállítás módja</th>
      <th>Összeg</th>
    </tr>
    {% for order in order_list %}
      <tr>
        <td>{{ order.pk }}</td>
        <td>
          {% if order.status == 1 %}
            Rögzítve
          {% endif %}
          {% if order.status == 2 %}
            Kiszálítás alatt
          {% endif %}
          {% if order.status == 4 %}
            Készítés alatt
          {% endif %}
          {% if order.status == 5 %}
            Kiszállításra vár
          {% endif %}
        </td>
        <td>
          {{ order.amount }}
        </td>
        <td>
          {% if order.shipping_type == 1 %}
            Házhoszállítás
          {% else %}
            Személyes átvétel
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

  <script>
    setTimeout(function () {
      window.location.reload();
    }, 1000 * 5) //30 sec
  </script>
{% endblock %}
