{% extends 'base.html' %}

{% block content %}

    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: 10px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="username"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .h3 {
            text-align: center;
        }
    </style>

    <form method="POST" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Profil</h1>
        {% csrf_token %}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email cím" required autofocus
               value="{{account_form.initial.email}}">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Felhasználónév" required
               value="{{account_form.initial.username}}">
        {% for field in account_form %}
            {% for error in field.errors %}
                <div style="color: red;">
                    <p>{{ error }}</p>
                </div>
            {% endfor %}
        {% endfor %}

        {% if account_form.non_field_errors %}
            <div style="color: red;">
                <p>{{ account_form.non_field_errors }}</p>
            </div>
        {% endif %}

        {% if success_message %}
            <p style="color: green; text-align: center;">{{success_message}}</p>
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block" style="margin-top: 15px" type="submit">Mentés</button>
    </form>
    </div>

{% endblock content %}