{% extends 'base.html' %}
{% load static shop_common %}
{% block content %}
  {% if object_list %}
    <table>
      <tr>
        <th class="p-2 m-3">Kaja</th>
        <th class="p-2 m-3">Mennyiség</th>
        <th class="p-2 m-3">Egység Ár</th>
        <th class="p-2 m-3">Ár</th>
      </tr>
      {% for object in object_list %}
        <tr>
          <td class="p-2 m-3">{{ object.dish }} </td>
          <td class="p-2 m-3">{{ object.quantity }} </td>
          <td class="p-2 m-3">{{ object.dish.price }} </td>
          <td class="p-2 m-3">{% multiply object.quantity object.dish.price %} </td>
        </tr>
      {% endfor %}

    </table>
    <a href="{% url 'FoodOrdering:order' %}" class="btn p-2 m-3 btn-primary">
      Megrendelés
    </a>
    <a href="{% url 'FoodOrdering:clear_cart' %}" class="btn p-2 m-3 btn-danger">
      Kosár törlése
    </a>
  {% else %}
    Még nincs semmi a kosárban , tegyél bele valamit.
  {% endif %}

{% endblock %}
