<div class="row">
  <a class="m-3 p-2 btn btn-primary" href="{% url 'FoodOrdering:edit_restaurant' %}">Edit restaurant</a>
  <a class="m-3 p-2 btn btn-primary" href="{% url 'FoodOrdering:add_dish' %}">Add dish</a>
  <a class="m-3 p-2 btn btn-primary" href="{% url 'FoodOrdering:list_types' %}">List categories</a>
  <a class="m-3 p-2 btn btn-primary" href="{% url 'FoodOrdering:filter_orders' %}">Filter orders</a>
  <a class="m-3 p-2 btn btn-primary" href="{% url 'FoodOrdering:mass_discount' %}">Termékek tömeges akciózása</a>
  <a class="m-3 p-2 btn btn-primary" href="{% url 'FoodOrdering:mass_discount' %}">Termékek tömeges akciózása</a>
</div>
