{% extends 'base.html' %}

{% block content %}




  <div class="card my-2">
    <div class="card-header">Megrendelések</div>
    <div class="card-body">
      <div class="row">
        {% for order in orders %}
          {% if order.status == 1 %}
            <div class="card my-1">
              <div class="card-header">{{ order.name }}</div>
              <div class="card-body">
                {{ order.address }}
                <br>
                {{ order.order_date }}
                <br>
                <form action="{% url 'FoodOrdering:set_status' %}" method="post">
                  {% csrf_token %}
                  <button name="accept" type="submit" value="1">Vállal
                  </button>
                  <input type="hidden" name="order" value="{{ order.pk }}">
                </form>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="card my-2">
    <div class="card-header">Megrendelések - elvállalva</div>
    <div class="card-body">
      <div class="row">
        {% for order in orders %}
          {% if order.status == 2 %}
            <div class="card my-1">
              <div class="card-header">{{ order.name }}</div>
              <div class="card-body">
                {{ order.address }}
                <br>
                {{ order.order_date }}
                <br>
                <form action="{% url 'FoodOrdering:set_status' %}" method="post">
                  {% csrf_token %}
                  <button name="delivered" type="submit" value="1">Kiszállítva</button>
                  <button name="reject" type="submit" value="1">Nono</button>
                  <input type="hidden" name="order" value="{{ order.pk }}">
                </form>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>






{% endblock %}
