{% extends "base.html" %}
{% block content %}
  <div class="content-section">
    <form method="post">
      {% csrf_token %}
      <fildset class="form-group">
        <legend class="border-bottom mb-4">Törlés megerősítés</legend>
        <h4>Biztosan törlöd? "{{ object.name }}"</h4>
        <div class="form-group">
          <button class="btn btn-lg btn-danger" type="submit">Igen</button>
          <a href="{% url 'FoodOrdering:home' %}">Mégsem</a>
        </div>
      </fildset>
    </form>
  </div>
{% endblock %}
